<article class="entry">
  <header class="entry-header">
    <h3 class="entry-title">Max Planck Institute for Chemical Physics of Solids</h3>
    <p class="entry-meta">2024 – present</p>
    <p class="entry-subtitle">Ph.D. Student</p>
  </header>
  <div class="entry-body">
    <p>
      In my understanding, the most important role of DFT is to simplify the problem step by step to our acceptable amount of computation in order to study the electronic structure. I have always thought that approximations are the most beautiful part of physics. Although DFT solutions are accurate, they are on a very small scale. Some traditional molecular dynamics methods are on a larger scale but have accuracy issues. I think the trade-off between accuracy and scale is also a challenge that persists throughout computational physics. Research on using deep learning methods to optimize this trade-off has aroused my great interest. Currently, this type of research is mostly limited to the Hamiltonian, so I would like to spend a few years investigating the neural network wave function to pursue a PhD degree here.
    </p>
  </div>
</article>

<article class="entry">
  <header class="entry-header">
    <h3 class="entry-title">Imperial College London</h3>
    <p class="entry-meta">2021 – 2022</p>
    <p class="entry-subtitle">MSc Optics and Photonics</p>
  </header>
  <div class="entry-body">
    <p>
      During my time at Imperial College London, I learned most of my optical experimental skills, especially surface-enhanced Raman scattering technique. I finished several plasmonics and nanophotonics courses as well. My supervisor is Prof. Rupert Oulton.
    </p>
  </div>
</article>

<article class="entry">
  <header class="entry-header">
    <h3 class="entry-title">University of Electronic Science and Technology of China</h3>
    <p class="entry-meta">2017 – 2021</p>
    <p class="entry-subtitle">BEng Opto-electronic Information Science and Engineering</p>
  </header>
  <div class="entry-body">
    <p>
      During the years at UESTC, I completed various optoelectronics-related core courses and developed an engineering mindset. This played a big role in my later research and work. As the motto of UESTC says: <em>To seek facts and truth, to be noble and ambitious.</em>
    </p>
  </div>
</article>
