{% assign pubs_all = site.data.publications %}
{% if include.selected %}
  {% assign pubs_all = pubs_all | where: 'selected', true %}
{% endif %}
{% assign first_author_pubs = pubs_all | where_exp: 'item', 'item.first_author' | sort: 'year' | reverse %}
{% assign coauthor_pubs = pubs_all | where_exp: 'item', 'item.first_author == false' | sort: 'year' | reverse %}

{% if include.preview %}
<ol class="publications-preview">
  {% for pub in first_author_pubs %}
    {% include publication-item.html pub=pub preview=true %}
  {% endfor %}
  {% for pub in coauthor_pubs %}
    {% include publication-item.html pub=pub preview=true %}
  {% endfor %}
</ol>
{% else %}
<div class="publications">
  {% for pub in first_author_pubs %}
    {% include publication-item.html pub=pub preview=false %}
  {% endfor %}
  {% for pub in coauthor_pubs %}
    {% include publication-item.html pub=pub preview=false %}
  {% endfor %}
</div>
{% endif %}
